[Unit]
Description=Systemd dbus hooks
After=network.target

[Service]
Type=notify
User=root
Group=root
WorkingDirectory=/opt/sd-dbus-hooks
ExecStart=/opt/sd-dbus-hooks/sd-dbus-hooks -config ./config.yaml
ExecReload=kill -USR2 $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
