<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- development version, includes helpful console warnings -->
    <script src="./js/vue.js"></script>
    <!-- http client -->
    <script src="./js/axios.min.js"></script>

    <div id="app">
        <navbar v-bind:count="count" v-on:get-units="getUnits"></navbar>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <table class="table table-striped" v-if="units.length">
                        <thead>
                            <tr>
                            <th scope="col">unit name</th>
                            <th scope="col">status</th>
                            <th scope="col">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr is="unit-item" v-for="item in units" v-bind:unit="item"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <script src="./js/app.js"></script>
</body>

</html>
